{% extends "workouts/base.html" %}
{% load static %}
    {% block nav %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand collapse-1" href="#">
                <img src="{% static 'workouts/img/logo_white.svg' %}" width="30" height="30" alt="">
            </a>
            <div class="navbar-nav w-100 order-1 order-md-0 dual-collapse2">
                <a class="nav-item nav-link" href="{% url 'index' %}">Workouts</a>
                <a class="nav-item nav-link" href="#">By Type</a>
                <a class="nav-item nav-link" href="#">By Difficulty</a>
                <a class="nav-item nav-link" href="#">By Author</a>
            </div>
            <div class="navbar-collapse w-100 order-3 dual-collapse2">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="{% url 'admin:index' %}" target="_blank">login</a>
                    </div>
            </div>
        </nav>
    {% endblock %}
    {% block content %}
        <div class="container">
            {% for workout in workoutlist %}
            <div class="card mt-2">
                <div class="card-header">{{workout.name}}</div>
                <div class="card-body">
                    <p class="card-text">
                        {{workout.description}}
                    </p>
                    <a class="btn btn-secondary m-1" data-toggle="collapse" href="#exerciselist{{workout.id}}" role="button" aria-expanded="false" aria-controls="exerciselist1">
                        Show details
                    </a>
                    <a class="btn btn-secondary m-1" href="{% url 'workout' workout.slug%}" role="button" aria-expanded="false" aria-controls="exerciselist1">
                        Start Workout
                    </a>

                    <div id="exerciselist{{workout.id}}" class="card mt-1 collapse">
                        <ul class="list-group list-group-flush">
                        {% for exercise in workout.exercises.all %}
                            <li class="list-group-item"><span class="exercise-list-item"  data-toggle="popover" data-trigger="hover" data-content="{{exercise.exercise.description}}">{{exercise.name}}</span>, duration: {{exercise.duration}} sec., break: {{exercise.pause}} sec.</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
        $( document ).ready(function() {
            $(".exercise-list-item").popover({'placement':'right'});
        });
        </script>
    {% endblock %}
    </body>
</html>